@page
@model SpecializationsModel
@{
    ViewData["Title"] = "Специализации";
}

<h1>Специализации</h1>

<form class="row g-2" method="post">
    <div class="col-sm">
        <input type="text" class="form-control" placeholder="Наименование специализации" name="specializationName" required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3" asp-page-handler="AddSpecialization">Добавить</button>
    </div>
</form>

@if (Model.Specializations != null)
{
    <table class="table table-stripped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var specialization in Model.Specializations)
            {
                <tr>
                    <td>@specialization.Name</td>
                    <td>
                        <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" onclick="SendValuesToModal('@specialization.Id', '@specialization.Name')">
                            <img src="img/edit.png">
                        </button>
                    </td>
                    <form method="post">
                    <td>
                        <input type="hidden" name="specializationId" value="@specialization.Id" />
                        <button asp-page-handler="RemoveSpecialization" type="submit" class="btn btn-sm">
                            <img src="img/remove.png">
                        </button>
                    </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal" tabindex="-1" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактирование специализации</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form class="form-floating" method="post">
                <div class="modal-body">
                    <input type="hidden" name="editSpecializationId" id="editSpecializationId" />

                    <div class="form-floating">
                        <input class="form-control" name="editSpecializationName" id="editSpecializationName" required>
                        <label for="editSpecializationName">Наименование специализации:</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" asp-page-handler="EditSpecialization">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    function SendValuesToModal(editSpecializationId, editSpecializationName) {
        document.getElementById("editSpecializationId").value = editSpecializationId;
        document.getElementById("editSpecializationName").value = editSpecializationName;
    }
</script>
